<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Creador</ion-card-title>
      
      </ion-card-header>

    <ion-card-content>

    <img src="assets/yo.jpg" weight="215px" height="200px" alt="yo">
      <h1>App en IONIC</h1>
      <p>Aaron Carmona<br>
        2023-1360<br>
        20231360&#64;itla.edu.do

      </p>

    </ion-card-content>
  </ion-card>
</ion-content>
